@font-face {
  font-family: myFirstFont;
  src: url(../../fonts/Playball-Regular.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(../../fonts/OpenSans-Light.ttf);
}
#nav {
  background: #fffcf8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
#nav .logo a {
  white-space: nowrap;
  text-decoration: none;
}
#nav .logo a .text-primary {
  color: #d4a762 !important;
  font-weight: 400 !important;
  font-family: myFirstFont;
  line-height: 1.2;
  font-size: 40px;
}
#nav .navbar ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#nav .navbar ul a {
  text-decoration: none;
}
#nav .navbar ul a li {
  margin-left: 15px;
  list-style: none;
  padding-top: 10px 12px;
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.55);
  transition: all 0.5s;
}
#nav .navbar ul a li:hover {
  color: #d4a762 !important;
}
#nav .search .glass {
  border-radius: 50%;
  border-color: transparent;
  background-color: #d4a762;
  width: 44px;
  height: 44px;
  transition: all 0.5s;
}
#nav .search .glass:hover {
  background-color: black;
  color: #d4a762;
}
#nav .search .book {
  margin-left: 15px;
  border-color: transparent;
  background-color: #d4a762;
  width: 150px;
  height: 40px;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
}
#nav .search .book:hover {
  background-color: black;
  color: #d4a762;
}

.sidebar {
  position: fixed;
  height: 100vh;
  z-index: 5;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.sidebar .sidebar-set {
  height: 100%;
  padding: 20px 0;
  width: 200px;
  background-color: #fffcf8;
}
.sidebar .sidebar-set .close-part {
  text-align: center;
}
.sidebar .sidebar-set .close-part i {
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 40px;
  transition: all 0.5s;
  color: #d4a762 !important;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.sidebar .sidebar-set .tab-menu .infos ul {
  list-style: none;
  padding: 0px;
  transition: all 0.5s;
}
.sidebar .sidebar-set .tab-menu .infos ul li {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar .sidebar-set .tab-menu .infos ul li a {
  text-decoration: none;
  padding-left: 30px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.55);
}

#nav-phone {
  background-color: #fffcf8;
  display: none;
}
#nav-phone .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
#nav-phone .container .logo .open {
  text-align: center;
  position: relative;
  top: 44px;
  left: 350px;
  cursor: pointer;
  transition: all 0.5s;
  color: #d4a762 !important;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
}
#nav-phone .container .logo a {
  white-space: nowrap;
  text-decoration: none;
}
#nav-phone .container .logo a .text-primary {
  color: #d4a762 !important;
  font-weight: 400 !important;
  font-family: myFirstFont;
  line-height: 1.2;
  font-size: 40px;
}

#hero {
  background: #fffcf8;
}
#hero .welcome {
  padding-top: 100px !important;
}
#hero .welcome .cate {
  background: transparent;
  border: 1px solid #d4a762;
  font-weight: 600 !important;
  text-transform: uppercase;
  width: 220px;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}
#hero .welcome .text {
  font-weight: 400 !important;
  font-family: myFirstFont;
  font-size: 80px;
}
#hero .welcome .text .text-primary {
  color: #d4a762 !important;
}
#hero .welcome .book {
  border-color: transparent;
  background-color: #d4a762;
  width: 150px;
  height: 50px;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  transition: all 0.5s;
  font-size: 14px;
  font-weight: 600;
}
#hero .welcome .book:hover {
  background-color: black;
  color: #d4a762;
}
#hero .welcome .know {
  border-color: transparent;
  background-color: #d4a762;
  width: 150px;
  height: 50px;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  transition: all 0.5s;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}
#hero .welcome .know:hover {
  background-color: black;
  color: #d4a762;
}
#hero .image {
  padding-top: 50px !important;
}
#hero .image img {
  max-width: 100%;
  height: 90%;
}

#about {
  padding-top: 100px !important;
}
#about .image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px !important;
}
#about .text-part .us {
  background: #fffcf8;
  border: 1px solid #d4a762;
  text-transform: uppercase;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  width: 100px;
  font-size: 15px;
  font-weight: 600 !important;
}
#about .text-part .client {
  font-family: myFirstFont;
  font-size: 48px;
}
#about .text-part .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #9a9a9a;
  font-family: mySecondFont, sans-serif;
}
#about .text-part .text-dark {
  padding-top: 10px;
}
#about .text-part .text-dark .text-primary {
  color: #d4a762 !important;
}
#about .text-part .about-us {
  border-color: transparent;
  background-color: #d4a762;
  width: 150px;
  height: 50px;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  transition: all 0.5s;
  font-size: 14px;
  font-weight: 600;
  padding: 2px;
}
#about .text-part .about-us:hover {
  background-color: black;
  color: #d4a762;
}

#service {
  padding-top: 80px !important;
}
#service .heading {
  text-align: center;
}
#service .heading .our {
  background: #fffcf8;
  border: 1px solid #d4a762;
  text-transform: uppercase;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  width: 150px;
  font-size: 15px;
  font-weight: 600 !important;
}
#service .heading .offer {
  font-family: myFirstFont;
  font-size: 48px;
}
#service .service-item {
  padding: 24px !important;
  text-align: center;
  position: relative;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  background: linear-gradient(#fff, #fff 50%, #d4a762 50%, #d4a762);
  background-size: 100% 200%;
  transition: 1s;
}
#service .service-item .service-content .service-content-icon i {
  font-size: 100px;
  color: #d4a762 !important;
}
#service .service-item .service-content .service-content-icon h4 {
  font-family: mySecondFont;
  padding-top: 10px;
  font-weight: 600;
  font-size: 24px;
}
#service .service-item .service-content .service-content-icon p {
  font-family: mySecondFont;
  padding-top: 10px;
  line-height: 1.5;
  color: #9a9a9a;
  font-weight: 400;
}
#service .service-item .service-content .service-content-icon button {
  margin-left: 15px;
  border-color: transparent;
  background-color: #d4a762;
  width: 150px;
  height: 40px;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
}
#service .service-item:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
#service .service-item:hover .service-content .service-content-icon i {
  color: black !important;
}
#service .service-item:hover .service-content .service-content-icon p {
  color: #fff;
}
#service .service-item:hover .service-content .service-content-icon button {
  color: #d4a762;
  background-color: black;
}

#events {
  padding-top: 80px !important;
}
#events .heading {
  text-align: center;
}
#events .heading .latest {
  background: #fffcf8;
  border: 1px solid #d4a762;
  text-transform: uppercase;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  width: 150px;
  font-size: 15px;
  font-weight: 600 !important;
}
#events .heading .social {
  font-family: myFirstFont;
  font-size: 48px;
}
#events .tab-menu {
  text-align: center;
}
#events .tab-menu ul {
  display: inline-flex;
}
#events .tab-menu ul li {
  list-style: none;
  margin-left: 20px;
  background: #fffcf8;
  border: 1px solid #d4a762;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  width: 120px !important;
  height: 35px !important;
  padding: 5px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  cursor: pointer;
}
#events .tab-menu ul .active-tab {
  background-color: #d4a762;
}
#events .menu {
  padding: 15px !important;
}
#events .menu img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

#menu {
  padding-top: 70px !important;
  background: #fffcf8;
}
#menu .heading {
  text-align: center;
}
#menu .heading .our-menu {
  background: #fffcf8;
  border: 1px solid #d4a762;
  text-transform: uppercase;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  width: 150px;
  font-size: 15px;
  font-weight: 600 !important;
}
#menu .heading .popular {
  font-family: myFirstFont;
  font-size: 48px;
}
#menu .tab-menu {
  text-align: center;
}
#menu .tab-menu ul {
  display: inline-flex;
}
#menu .tab-menu ul li {
  list-style: none;
  margin-left: 20px;
  background: #fffcf8;
  border: 1px solid #d4a762;
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
  width: 120px !important;
  height: 35px !important;
  padding: 5px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  cursor: pointer;
}
#menu .tab-menu ul .active-tab {
  background-color: #d4a762;
}
#menu .food .menu-item {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
#menu .food .menu-item img {
  border-radius: 50%;
}
#menu .food .menu-item .content {
  padding-left: 20px;
}
#menu .food .menu-item .content .text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #d4a762;
}
#menu .food .menu-item .content .text h4 {
  color: #d4a762;
}
#menu .food .menu-item .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9a9a9a;
  font-family: mySecondFont;
}

.active-bar {
  transform: translateX(0px);
  transition: all 0.5s;
}

.hide {
  transition: all 0.5s;
  transform: translateX(-200px);
  z-index: -1;
}

@media only screen and (max-width: 992px) {
  #nav-phone {
    display: block !important;
  }
  #nav {
    display: none !important;
  }
  #sidebar {
    display: block !important;
  }
}/*# sourceMappingURL=home.css.map */